# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 467717c4c1b1000575789d310c526d478e90a578f744a1cac920314f80bb55f85c808276b4495190c09489e91de201d240418fd663fb7c9603530573068f370e

test:
  secret_key_base: cb3c5610ff3b62e4119b56d8a9a372c9c42ee93d864329e47a4e4d55ab1018e2c8d6a22e9e5592abb4094b24ad0c0f6d617f4c5ebef94d5486228ce7a226a874

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
